extends layout.jade

block meta
  title About | Richard CM

block title
  h1 About Me

block content
  h2 My name is Richard Court
  p I recently graduated from Swansea university where I studied Creative Computer Game Design, Receiving a 2,1 Degree.
  p Currently I am now trying to break my way into the games industry, a task that is not easy but I am determined.
  p I hope to one day work on some AAA titles and that my work might inspire others like I have been inspired by so many talented industry artists.
  p I hope you like my work, please feel free to <a href="mailto:richardcourt0@gmail.com">contact me</a>
  .row
    .col-sm-6
      h3 Skills:
      ul
        li High-Poly Modeling
        li Low-Poly Modeling
        li UV Mapping
        li High - Low poly baking
        li Texture Creation
    .col-sm-6
      h3 Software:
      ul
        li Maya
        li Zbrush
        li Photoshop
        li Mudbox
        li Unreal Development Kit (UDK)
        li Unity Engine
        li Marmoset Toolbag
