extends layout.jade

block meta
  title Portfolio | Richard CM
  meta(name="description", content="Recent work by environment artist Richard Court Mathews")

block title
  h1 Portfolio

block content
  for item in items
    .item
      a(href="/portfolio/#{item.slug}")
        img.item__banner(src="#{item.banner}", alt="#{item.title}")
        h2.item__title= item.title
